.aaa {
border-top:1px solid brown;
border-bottom:1px solid brown;
  border-left:0px solid brown;
  border-right:0px solid brown;
color:black;
text-shadow:1px 1px 3px brown;
font-size:30px;
font-style:italic;
font-weight:bold;
text-align:center;
}
